altair
astropy
attrs
beautifulsoup4
black
cem
click
cogapp
cookiecutter
cryptography
cvxpy
cython
daiquiri
datashader
dowhy
dspy
duckdb
duckdb-engine
easier
equinox
flake8
fleming
folium
fuzzypicker
geopy
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-secret-manager
google-cloud-storage
gspread
hdbscan
holidays
holoviews[recommended]
hvplot
ibis-framework[postgres]
ipympl
ipython
ipywidgets
isort
jax-metal
jax[cpu]
jinja2
joblib
jupyterlab
jupyterlab-code-formatter
langgraph
lifelines
lightgbm
maidenhead
marimo
mirascope
mlflow
model2vec
more-itertools
networkx
numpy
numpyro # for pymc jax sampling
oauth2client
oauthlib
ollama
open-webui
openai
optuna
optuna-dashboard
pandashells[full]
pandera
pandoc
panel
patsy
pdbpp
pgcli
pip
plotly
polars
psutil
psycopg2-binary
pyarrow
pydantic
pymc
pytest
python-dateutil
requests
scikit-learn
scipy
seaborn
sentence-transformers
simpy
skrub[transformers]
spacy
sqlalchemy
sqlglot  # nice for marimo
sqlmodel  # nice for marimo
statsmodels
streamz
sympy
torch
tqdm
twine
umap-learn
visidata
watchdog
wheel
wrapt
xgboost # requires brew install libomp
xmltodict
