altair
astropy
attrs
beautifulsoup4
black
cem
click
cookiecutter
cryptography
cvxpy
cython
daiquiri
datashader
dowhy
duckdb
duckdb-engine
easier
equinox
flake8
fleming
folium
fuzzypicker
geopy
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-secret-manager
google-cloud-storage
gspread
hdbscan
holoviews[recommended]
hvplot
ibis-framework[postgres]
ipympl
ipython
ipywidgets
isort
jax-metal
jax[cpu]
jinja2
jinjasql
joblib
jupyterlab
jupyterlab-code-formatter
lifelines
lightgbm
maidenhead
marimo
mlflow
model2vec
more-itertools
networkx
numpy
oauth2client
oauthlib
ollama
ollama
open-webui
openai
optuna-dashboard
optuna
pandashells[full]
pandera
pandoc
panel
patsy
pdbpp
pgcli
pip
plotly
polars
psutil
psycopg2-binary
pyarrow
pydantic
pytest
python-dateutil
requests
scikit-learn
scipy
seaborn
simpy
skrub[transformers]
sqlalchemy
sqlglot  # nice for marimo
sqlmodel  # nice for marimo
statsmodels
streamz
sympy
torch
tqdm
twine
umap-learn
visidata
wheel
wrapt
xgboost
xgboost # requires brew install libomp
xmltodict
