altair
astropy
attrs
beautifulsoup4
black
cem
click
cookiecutter
cryptography
cvxpy
cython
daiquiri
datashader
dowhy
duckdb
duckdb-engine
easier
flake8
fleming
folium
fuzzypicker
geopy
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-secret-manager
google-cloud-storage
gspread
hdbscan
holoviews[recommended]
hvplot
ipympl
ipython
ipywidgets
isort
jax-metal
jax[cpu]
jinja2
jinjasql
joblib
jupyterlab
jupyterlab-code-formatter
lifelines
lightgbm
maidenhead
marimo
mlflow
more-itertools
networkx
numpy
oauth2client
oauthlib
ollama
openai
pandashells[full]
pandera
pandoc
panel
patsy
pdbpp
pgcli
pip
plotly
polars
psutil
psycopg2-binary
pyarrow
pydantic
pytest
python-dateutil
requests
scikit-learn
scipy
seaborn
simpy
sqlalchemy
statsmodels
streamz
sympy
torch
tqdm
twine
umap-learn
visidata
wheel
wrapt
xgboost
xmltodict
